<h1>Pirate name: <%=@pirate.name%>: </h1>
<h2>Pirate weight: <%=@pirate.weight%></h2>
<h2>Pirate height: <%=@pirate.height%></h2>


<% @ships.each do |ship| %>
  <h2><%= ship.name %>: </h2>
  <h3>Weight: <%= ship.type %></h3>
  <h3>Height: <%= ship.booty %></h3>
<% end %>